body {
    margin: 0;
    font-family: sans-serif;
    background-color: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    background-image: url('background..jpg'); 
    width: 390px;
    height: 844px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

p {
    font-size: 1em;
    margin-bottom: 200px;
}

.get-started-btn {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover {
    background-color: #45a049;
}